body {
    margin: 0px;
    background-color: black;
    color: white;
}
/*
>>>>>>>header style at the bottom<<<<<<<
*/
.head-icon {
    background-color: rgb(255, 123, 0);
}
.head-icon img {
    margin: 0px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.head-icon h1{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: inline;
    position: absolute;
    top: -13px;
    left: 120px;
}
/*
>>>>>>>main style at the bottom<<<<<<
*/
.main-main * {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.main-main div {
    border: 1px solid white;
}
.main-main img {
    height: 350px;
    width: 350px;
    margin: 30px;
    position: relative;
    left: 37%;
    border: 3px solid white;
}
.main-main .joke {
    border-top: none;
}


/*
    INFO TEXT AT THE BOTTOM PAGE
*/

.bottom-info {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    background-color: rgb(36, 36, 36);
    padding: 20px;
}
button{
    background-color: orange;
    padding: 10px 30px 10px 30px;
    border: none;
    margin-left: 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.15s;
}
button:hover {
    color: orange;
    background-color: black;
}

/*
    PAGINATION
*/

.paging {
    text-align: center;
    margin: 20px;

}
.paging a {
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    transition: 0.15s;
}
.paging a:hover {
    background-color: rgb(255, 123, 0);
}
.paging a:active {
    opacity: 0.5;
}
.paging .active {
    background-color: rgb(175, 79, 0);
}